//connorpark.usw-16.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.e6019266-862d-4a44-b1eb-b295a8db36b9/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@buildingwithaip:registry=https://connorpark.usw-16.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.e6019266-862d-4a44-b1eb-b295a8db36b9/contents/release/npm/